<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220867444623-p0iarcq5hbtvb60hsdr53b8ac2unu6f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220867444623-p0iarcq5hbtvb60hsdr53b8ac2unu6f8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220867444623-346stuqdc54sfb4ee2l92gq4p2cjjf2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8dShhTvIHkLMpxKE6REwtVXz5CU0u3HM</string>
	<key>GCM_SENDER_ID</key>
	<string>220867444623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daralarkam.daralarkamMainApp</string>
	<key>PROJECT_ID</key>
	<string>dar-alarkam-main-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dar-alarkam-main-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220867444623:ios:a8e54f747279a1f314d5fa</string>
	<key>DATABASE_URL</key>
	<string>https://dar-alarkam-main-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>